<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZHJPainter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF2D558C2341D273000A1B6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF2D55AA2341D275000A1B6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF2D55B52341D275000A1B6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
